/*----------
sobre mim
-----------*/

.aboutSection{
  padding: 80px 0 0px;
  min-height: 100vh;
}

.aboutSection .aboutImg{
  flex: 0 0 40%;
  max-width: 40%;
  padding: 0 15px;
}

.aboutSection .aboutImg .imgBox{
  padding: 15px;
  border-radius: 5px;
}
.aboutSection .aboutImg .imgBox img{
  width: 100%;
  border: 10px solid transparent;
  border-radius: 5px;
}

.aboutSection .aboutImg .socialLinks{
  margin-top: 20px;
  text-align: center;
}

.aboutSection .aboutImg .socialLinks a{
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  color: var(--text-black-600);
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.aboutSection .aboutImg .socialLinks a i{
  line-height: 40px;
}
.aboutSection .aboutImg .socialLinks a:after{
  border-radius: 50%;
}

.aboutSection .aboutImg .socialLinks a:hover{
  color: var(--pink);
}

.aboutSection .aboutInfo{
  flex: 0 0 60%;
  padding: 0 15px;
  max-width: 60%;
}

.aboutSection .aboutInfo p{
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  color: var(--text-black-600);
}
.aboutSection .aboutInfo span{
  font-weight: 600;
}

.aboutSection .aboutInfo .btn1{
  margin: 30px 20px 0 0;
}

.aboutSection .aboutTabs{
  padding: 60px 15px 50px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.aboutSection .aboutTabs .tabItem{
  display: inline-block;
  margin: 0 5px 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 30px;
  transition: all 0.3s ease;
  font-size: 16px;
  color: var(--text-black-600);
  font-weight: 500;
  text-transform: capitalize;
}

.aboutSection .aboutTabs .tabItem:hover:not(.active){
  opacity: 0.6;
}

.aboutSection .aboutTabs .tabItem.active{
  color: var(--pink);
}

.aboutSection .tabContent{
  flex: 0 0 100%;
  max-width: 100%;
  display: none;
}
.aboutSection .tabContent.active{
  display: block;
  animation: fadeInTop 0.5s ease;
}

.aboutSection .skills{
  padding: 0 0 40px;
}

.aboutSection .skills .skillItem{
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0px 15px;
  margin-bottom: 40px;
}
.aboutSection .skills .skillItem p{
  font-size: 16px;
  color: var(--text-black-600);
  text-transform: capitalize;
  margin: 0 0 10px;
}

.aboutSection .skills .skillItem .progress{
  height: 20px;
  border-radius: 10px;
  position: relative;
}

.aboutSection .skills .skillItem .progressBar {
  background-color: var(--text-black-600);
  height: 6px;
  left: 7px;
  top: 7px;
  position: relative;
  border-radius: 10px;
}

.aboutSection .skills .skillItem .progressBar span{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-black-600);
  margin-top: -40px;
}

.aboutSection .educacao,
.aboutSection .experience{
  padding-bottom: 80px;
}

.aboutSection .timeline{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.aboutSection .timeline:before{
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: var(--bg-black-100);
}

.aboutSection .timeline .timelineItem{
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.aboutSection .timeline .timelineItem:nth-child(odd){
  padding-right: calc(50% + 50px);
  text-align: right;
}
.aboutSection .timeline .timelineItem:nth-child(even){
  padding-left: calc(50% + 50px);
}

.aboutSection .timeline .timelineItemInner{
  padding: 30px;
  border-radius: 5px;
  position: relative;
}

.aboutSection .timeline .timelineItemInner::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: var(--bg-black-100);
  top: 37px;
  z-index: -1;
}

.aboutSection .timeline .timelineItem:nth-child(odd) .timelineItemInner:before{
  right: -30px;
}

.aboutSection .timeline .timelineItem:nth-child(even) .timelineItemInner:before{
  left: -30px;
}

.aboutSection .timeline .timelineItemInner .icon{
  height: 40px;
  width: 40px;
  background-color: var(--bg-black-50);
  text-align: center;
  border: 1px solid var(--bg-black-100);
  line-height: 40px;
  border-radius: 50%;
  font-size: 16px;
  color: var(--pink);
  position:absolute;
  top: 18px;
}

.aboutSection .timeline .timelineItem:nth-child(odd) .icon{
  right: -70px;
}
.aboutSection .timeline .timelineItem:nth-child(even) .icon{
  left: -70px;
}

.aboutSection .timeline .timelineItemInner span{
  font-weight: 500px;
  color: var(--pink);
  display: block;
  margin: 0 0 10px;
}
.aboutSection .timeline .timelineItemInner h3{
  font-size: 20px;
  color: var(--text-black-700);
  font-weight: 600;
  margin: 0 0 5px;
}
.aboutSection .timeline .timelineItemInner h4{
  font-size: 16px;
  font-style: italic;
  color: var(--text-black-600);
  margin: 0;
}
.aboutSection .timeline .timelineItemInner p{
  font-size: 16px;
  color: var(--text-black-600);
  line-height: 26px;
  margin: 15px 0 0;
}
