/* ------------------
contato
---------------------*/

.contactSection {
  padding: 80px 0 80px;
  min-height: 100vh;
}

.contactSection .contactItem{
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding:15px;
  display: flex;
  flex-wrap: wrap;
}

.contactSection .contactItemInner{
  padding: 30px 15px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}

.contactSection .contactItemInner i{
  font-size: 25px;
  color: var(--pink);
}

.contactSection .contactItemInner span{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black-700);
  margin: 10px 0 5px;
  text-transform: capitalize;
}

.contactSection .contactItemInner p{
  font-size: 16px;
  color: var(--text-black-600);
  line-height: 26px;
  margin: 0;
  word-break: break-word;
}

.contactSection .contactForm{
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 50px;
}

.contactSection .w-50{
  padding: 0 15px;
  flex: 0 0 50%;
  max-width: 50%;
}

.contactSection .inputGroup{
  margin: 0 0 25px;
  transition: all 0.3s ease;
  border-radius: 30px;
}

.contactSection .inputGroup:after{
  border-radius: 30px;
}

.contactSection .inputGroup .inputControl{
  height: 45px;
  display: block;
  width: 100%;
  border-radius: 30px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 0 15px;
  color: var(--text-black-700);
}

.contactSection .inputGroup textarea.inputControl{
  height: 184px;
  padding-top: 15px;
  resize: none;
}

.contactSection .submitBtn{
  flex: 0 0 100%;
  text-align: right;
  padding: 0 15px;
}
