/* ------------------
serviços section
---------------------*/

.serviceSection{
  padding: 80px 0 80px;
  min-height: 100vh;
}

.serviceSection .serviceItem{
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.serviceSection .serviceItemInner{
  padding: 50px 15px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}


.serviceSection .serviceItemInner .icon{
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto;
  position: relative;
}

.serviceSection .serviceItemInner .icon:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.serviceSection .serviceItemInner:hover .icon{
  box-shadow: var(--inner-shadow-0);
}

.serviceSection .serviceItemInner:hover .icon:after{
  box-shadow: var(--outer-shadow);
}

.serviceSection .serviceItemInner .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease;
}

.serviceSection .serviceItemInner:hover .icon i{
  color: var(--pink);
}
.serviceSection .serviceItemInner h3{
  font-size: 20px;
  font-weight: 600;
  color: var(--text-black-700);
  margin: 10px 0 10px;
}
.serviceSection .serviceItemInner p{
  font-size: 16px;
  color: var(--text-black-600);
  margin: 0;
  line-height: 26px;
}
